@charset "utf-8";

body{
  margin: 0;
  color:#707070;
  font-size: 15px;
  font-family: 'Gill Sans', Times, Georgia, serif;
  line-height: 2em;
  letter-spacing: 0;
  background-color: #FFF;
}

img {
    max-width: 100%;
    vertical-align: middle;
}


.inner{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
/* header */

.head{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-between;
}
/* main */

.food{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category{
    display: flex;
    justify-content: space-between;
}
/* footer */