@charset "utf-8";

body{
  margin: 0;
  color:#707070;
  font-size: 15px;
  font-family: 'Gill Sans', Times, Georgia, serif;
  line-height: 2em;
  letter-spacing: 0;
  background-color: #FFF;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

.inner{
  max-width: 660px;
  width: 90%;
  margin: 0 auto;
}

/* header */

.head{
    margin: 50px auto 80px;
    text-align: center;
}

.menu{
    margin: 20px 200px 0;
    display: flex;
}

.menu li{
    margin: 0 20px;
}

.menu a{
    color: #707070;
    text-decoration: none;
}

.menu .current,
.menu a:hover{
    color: #FFBF9D;
}

/* main */

.food{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.category img{
    margin-right: 20px;
}
/* footer */



@media(min-width:1000px){

.head{
    display: flex;
    justify-content: space-between;
}
}